.add_section {
    --hoverable-default-color: rgb(200, 200, 200);

    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.add_section:only-child {
    padding-top: 0;
}

.add_section span:nth-child(odd) {
    height: 0.125rem;
    width: 50%;
    background: #000;
    transition: inherit;
}

.add_section span:nth-child(2) {
    width: 3rem;
    height: 3rem;
    color: #000;
    transition: inherit;
}

@media (hover: hover) {
    .add_section span:nth-child(odd) {
        background-color: var(--hoverable-default-color);
    }

    .add_section:hover span:nth-child(odd) {
        background-color: #000;
    }

    .add_section span:nth-child(2) {
        color: var(--hoverable-default-color);
    }

    .add_section:hover span:nth-child(2) {
        color: #000;
    }
}