.add_section {
    --default-color: #90caf9;
    --hover-color: #1976d2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.add_section:only-child {
    padding-top: 0;
}

.add_section span:nth-child(odd) {
    height: 0.125rem;
    width: 50%;
    background: var(--hover-color);
    transition: inherit;
}

.add_section span:nth-child(2) {
    width: 3rem;
    height: 3rem;
    color: var(--hover-color);
    transition: inherit;
}

@media (hover: hover) {
    .add_section span:nth-child(odd) {
        background-color: var(--default-color);
    }

    .add_section:hover span:nth-child(odd) {
        background-color: var(--hover-color);
    }

    .add_section span:nth-child(2) {
        color: var(--default-color);
    }

    .add_section:hover span:nth-child(2) {
        color: var(--hover-color);
    }
}