.Card {
    padding: 0.5rem 1rem;
}

.title {
    font-size: 1.75rem;
    width: max-content;
}

.top {
    display: flex;
    gap: 1rem;
}

.List {
    padding: 1rem;
}

.list_item_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.add_item_wrapper:hover {
    visibility: visible;
}
