.Card {
    padding: 0.5rem 0;
}

.top {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.button_group {
    border-radius: 8px;
    border: 1px solid #908cd3;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.List {
    padding: 1rem;
}
