.list_item_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.list_item_wrapper:hover .list_item {
    background-color: #eee;
}

.list_item_wrapper[data-are-tools-active="true"]:hover .list_item + .list_style::after,
.list_item_wrapper[data-are-tools-active="true"] .list_style:hover::after {
    content: "\00d7";
    scale: 1.5;
    font-weight: bold;
    transform: translate(4px, -2px);
    color: red;
}

.list_item_wrapper:hover .list_item + .list_style::before,
.list_style:hover::before {
    opacity: 0;
}

.list_item_wrapper:hover .list_item svg {
    display: block;
}

.list_item {
    width: 100%;
    position: relative;
}

.list_style {
    transition: 1s content;
    width: calc(6.5px + 0.5rem);
    min-width: unset !important;
    cursor: pointer;
}

.list_style::before {
    content: "";
}
